/* Section styling for activities page */
.activitySection {
	margin-bottom: 40px;
}

.activitySectionHeading {
	font-size: 2.5rem;
	font-weight: 600;
	letter-spacing: 6px;
	text-align: center;
	text-transform: uppercase;
	text-wrap: nowrap;
	color: #666;
}

.line {
	display: inline-block;
	height: 4px;
	width: 100%;
	background: #2bbfb0;
	opacity: 0.85;
	border-radius: 0px;
}

.centerContent {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 32px;
	border-bottom: 1px solid #dadada;
	padding-bottom: 1.5rem;
	padding: 0 50px 1.5rem 50px;
}

@media (max-width: 480px) {
	.activitySection {
		margin-bottom: 24px;
	}

	.activitySectionHeading {
		font-size: 1.25rem; /* smaller on mobile */
		font-weight: 600;
		letter-spacing: 0.3px;
		text-align: center;
		text-wrap: nowrap;
	}
}
