.card {
	background: #fff;
	border-radius: 12px;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
	overflow: hidden;
	width: 100%;
	max-width: 550px;
	margin: 0 auto 32px auto;
	display: flex;
	flex-direction: column;
	transition: box-shadow 0.2s;
	position: relative;
}
.card:hover {
	box-shadow: 0 4px 24px rgba(0, 0, 0, 0.16);
}

.featuredBadge {
	position: absolute;
	top: 16px;
	left: 16px;
	background: #ffe23b;
	color: #444;
	font-weight: bold;
	font-size: 1rem;
	padding: 4px 12px;
	border-radius: 8px;
	z-index: 2;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.imageWrapper {
	position: relative;
	width: 100%;
	height: 40%;
	aspect-ratio: 16/9;
	overflow: hidden;
	background: #eee;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cardImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0;
}
.overlayText {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	font-size: 2.2rem;
	font-weight: 900;
	color: #fff;
	text-shadow: 0 2px 12px rgba(0, 0, 0, 0.45);
	letter-spacing: 2px;
	pointer-events: none;
	z-index: 2;
	text-transform: uppercase;
}

.content {
	padding: 18px 20px 0 20px;
	flex: 1;
	display: flex;
	flex-direction: column;
}
.row {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 8px;
}
.cardTitle {
	font-size: 1.15rem;
	font-weight: 700;
	color: #222;
	margin-bottom: 2px;
}
.cardSubtitle {
	font-size: 0.95rem;
	color: #888;
	margin-bottom: 6px;
	line-height: 1.3;
}
.filterBtn {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	margin-left: 8px;
	outline: none;
}
.detailsRow {
	display: flex;
	align-items: center;
	margin-top: 20px;
	gap: 8px;
	font-size: 0.98rem;
	color: #555;
	margin-bottom: 2px;
}
.icon {
	font-size: 1.1rem;
	margin-right: 2px;
}
.cardActions {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #e0e0e0;
	margin-top: 10px;
	padding: 12px 20px;
	border-top: 1px solid #eee;
	border-radius: 0 0 12px 12px;
	border-radius: 6px;
}
.actionBtn {
	width: 100%;
	color: #444;
	border: none;
	display: flex;
	padding: 7px 18px;
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
	align-items: center;
	gap: 7px;
	transition: background 0.2s;
}
.actionBtn:hover {
	background: #ffe23b;
	border-radius: 10px;
	color: #222;
}
.actionIcon {
	font-size: 1.1rem;
}
/* .joinBtn {
	background: #2ecc71;
	color: #fff;
	font-weight: 700;
	border: none;
	box-shadow: 0 2px 8px rgba(46, 204, 113, 0.08);
}
.joinBtn:hover {
	background: #27ae60;
} */
