h1 {
    display: block;
    font-size: 2em;
    /* font-weight: bold; */
}
h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}
h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}
h4 {
    display: block;
    font-size: 1em;
    font-weight: bold;
}
h5 {
    display: block;
    font-size: 0.83em;
    font-weight: bold;
}
h6 {
    display: block;
    font-size: 0.67em;
    font-weight: bold;
}