/* Recent Activities Table Card */
.recent-activities-card {
	background: #fff;
	border-left: 1px solid #dadada;
	padding: 0px 24px;
	color: #646464;
}

.recent-activities-table-wrapper {
    min-height: fit-content;
	max-height: 600px;
	height: 600px;
	overflow-y: auto;
	overflow-x: auto;
}

.recent-activities-table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	font-size: 15px;
	background: #f9fbff;
	overflow: hidden;
}

.recent-activities-th {
	border-bottom: 1px solid #dadada;
	padding: 14px 18px;
	font-weight: 400;
	font-style: italic;
	text-align: center;
	font-size: 15px;
}

.recent-activities-row {
	background: #fff;
	border-bottom: 1px solid #e5e7eb;
	transition: background 0.2s;
}
.recent-activities-row:last-child {
	border-bottom: none;
}
.recent-activities-row:hover {
	background: #00bbbb25;
}

.recent-activities-type {
	padding: 12px 18px;
}
.recent-activities-type-icon {
	display: inline-flex;
	width: 28px;
	height: 28px;
	background: #ffe066;
	color: black;
	border-radius: 4px;
	align-items: center;
	justify-content: center;
	border: 2px solid #ffd700;
}

.recent-activities-td {
	padding: 12px 18px;
	color: #222;
	border-bottom: 1px solid #dadada;
	color: #646464;
    text-align: center;
}

.recent-activities-loading,
.recent-activities-empty {
	text-align: center;
	padding: 32px 0;
	color: #888;
	font-size: 16px;
}

.recent-activities-invite-btn {
	border: 1px solid #ffd700;
	padding: 5px 10px;
	border-radius: 10px;
	cursor: pointer;
	transition: background 0.2s, color 0.2s, border 0.2s;
}

.recent-activities-invite-btn:hover {
	border: 1px solid transparent;
	background-color: #ffd700;
	color: #fff;
}