@import "tailwindcss";
@plugin "daisyui";

@import "tailwindcss";

/* Global Light Theme */
:root {
    --background: #ffffff;
    --foreground: #000000;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: Arial, sans-serif;
}
