.authLayout {
    height: 100vh;
    width: 100vw;
    color: black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: linear-gradient(135deg, #ffeda6 0%, #ffb347 100%);
}

.authLayout .large-left-bottom {
    content: "";
    position: absolute;
    left: -200px;
    bottom: -200px;
    width: 800px;
    height: 800px;
    background: radial-gradient(circle, #ffd700 70%, #ffb347 100%);
    border-radius: 50%;
    z-index: 1;
    opacity: 0.7;
}

.authLayout .small-left {
    content: "";
    position: absolute;
    left: 40px;
    top: 80px;
    width: 520px;
    height: 520px;
    background: radial-gradient(circle, #ffb347 60%, #ffd700 100%);
    border-radius: 50%;
    z-index: 2;
    opacity: 0.6;
    animation: float-small-left 7.5s ease-in-out infinite alternate;
}

@keyframes float-small-left {
    0% { transform: translateY(0) scale(1); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0) scale(1); }
}


.authLayout .circle-right {
    position: absolute;
    right: 100px;
    top: 600px;
    width: 320px;
    height: 320px;
    background: radial-gradient(circle, #ffd900 70%, #ffb347 100%);
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.25);
    opacity: 0.4;
    animation: float-circle-right 70s ease-in-out infinite alternate;
}

@keyframes float-circle-right {
    0% { transform: translateY(0); }
    20% { transform: translateY(20px) translateX(-20px); }
    40% { transform: translateY(-0px) translateX(-40px); }
    60% { transform: translateY(-20px) translateX(-60px); }
    80% { transform: translateY(-40px) translateX(-80px); }
    100% { transform: translateY(0); }
}


.mainForm {
    z-index: 999;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
}

.authLayout a:not(.link) {
  text-decoration: none;
}

a:visited {
  color: teal;
}

a:visited:hover {
  color: rgb(0, 165, 165);
}