.header {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

input {
    background-color: #fff;
    color: black;
    padding: 4px 8px;
    border: 1px solid black;
}

.mainForm input:focus {
    border-color: teal;
    outline: none;
}

.submit-button {
    background-color: teal;
    padding: 10px 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.submit-button:hover {
    background-color: rgb(0, 165, 165);
    padding: 10px 10px;
    cursor: pointer;
    color: white;
}

.submit-button:disabled {
    background-color: teal;
    padding: 10px 10px;
    cursor: pointer;
    color: white;
}

.submit-button:hover:disabled {
    background-color: rgb(0, 165, 165);
    padding: 10px 10px;
    cursor: pointer;
    color: white;
}